<footer class="footer">
  {% block footer %}
  <div class="container text-center" style="padding-top: 15px;">

    <div class="row">
      <div class="col-md-2">
	     <small>&copy;{{current_year}} ParietalVR</small>
      </div>
      <div class="col-md-2 col-md-offset-8">

        <a href = "https://www.facebook.com/parietalvr"  target="_blank" ><img alt="Facebook button" src="/img/social_icons/facebook_16.png"/></a>
        <a href = "https://twitter.com/parietalvr" target="_blank" ><img alt="Twitter button" src="/img/social_icons/twitter_16.png"/></a> 
        {#
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/parietalvr" data-format="hover" data-related="false"></script>
        #}
        <a href = "https://www.linkedin.com/in/parietalvr" target="_blank" ><img alt="LinkedIn button" src="/img/social_icons/linkedin_16.png"/></a>
        <a href = "https://angel.co/parietalvr" target="_blank" ><img alt="AngelList button" src="/img/social_icons/angel_list_16.png"/></a>
        <a href = "https://www.google.com/+parietalvr" target="_blank" rel="publisher"><img alt="Google Plus button" src="/img/social_icons/googleplus_16.png"/></a>
      </div>
    </div> {# row #}

  </div> {# container #}

  {% endblock %}
</footer> 