</script> <script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Company",
  "name" : "ParietalVR",
  "description": "Social VR",
  "image": "",
  "url" : "https://parietalvr.com",
  "sameAs" : [ "https://twitter.com/parietalvr",
      "https://www.linkedin.com/in/parietalvr",
      "https://www.facebook.com/parietalvr",
      "https://angel.co/parietalvr",
      "https://about.me/parietalvr",
      "https://medium.com/@parietalvr",
      "https://www.crunchbase.com/company/parietalvr",
      "https://github.com/parietalvr",
      "https://instagram.com/parietalvr",
      "https://www.pinterest.com/parietalvr",
      "http://parietalvr.tumblr.com",
      "https://www.quora.com/parietalvr",
      "https://keybase.io/parietalvr",
      "https://vine.co/parietalvr",
      "http://www.twitch.tv/parietalvr/profile",
      "https://stackoverflow.com/users/1234/parietalvr",
      "https://plus.google.com/u/0/+parietalvr"] 
}
</script>